<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAC-GO | Add</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="./css/materialize.min.css" rel="stylesheet" />
    <link href="./css/app.css" rel="stylesheet" />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue">
          <span class="brand-logo center">VAC-Go!</span>
          <ul id="nav-mobile" class="right">
            <li><a href="./">Logout</a></li>
          </ul>
          <ul class="left">
            <li class="vac-go-welcome">Welcome, <b>user.name1</b>!</li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row" id="add-post-row">
        <div class="col l12 m12 s12">
          <div class="card large white" id="add-post-card-large">
            <div class="card-content">
              <h5 class="card-title">New Post</h5>
              <form id="add-post-form" action="#">
                <div id="quarter">
                  <h6>Select a Quarter:</h6>
                  <span class="quarter-opt col l3 m3 s6">
                    <input class="with-gap" name="quarter" type="radio" id="fall" />
                    <label for="fall">Fall</label>
                  </span>
                  <span class="quarter-opt col l3 m3 s6">
                    <input class="with-gap" name="quarter" type="radio" id="winter" />
                    <label for="winter">Winter</label>
                  </span>
                  <span class="quarter-opt col l3 m2 s6">
                    <input class="with-gap" name="quarter" type="radio" id="spring" />
                    <label for="spring">Spring</label>
                  </span>
                  <span class="quarter-opt col l3 m4 s6">
                    <input class="with-gap" name="quarter" type="radio" id="summer" />
                    <label for="summer">Summer (I/II)</label>
                  </span>
                </div>
                <div id="courses"></div>
                <div id="activities"></div>
                <div id="body" class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="post-body" class="materialize-textarea"></textarea>
                    <label for="post-body">Post Body</label>
                  </div>
                </div>

                <!-- Template for adding a course -->
                <div class="course row hide" id="course-template">
                  <div class="input-field col l3 m3 s4">
                    <i class="material-icons prefix">school</i>
                    <input type="text" class="depts"/>
                    <label class="course-dept" for="depts">Dept.</label>
                  </div>
                  <div class="input-field col l8 m8 s7">
                    <select disabled>
                      <option disabled selected>Course</option>
                    </select>
                  </div>
                  <div class="input-field col l1 m1 s1 removeCourse">
                    <i class="material-icons">delete</i>
                  </div>
                </div>

                <!-- Template for adding an activity -->
                <div class="activity row hide" id="activity-template">
                  <div class="input-field col l8 m7 s6">
                    <i class="material-icons prefix">business_center</i>
                    <input id="activity" type="text" />
                    <label class="activity-name" for="activity">Activity Name</label>
                  </div>
                  <div class="input-field col l3 m4 s5">
                    <i class="material-icons prefix">schedule</i>
                    <input id="hours-busy" type="number" min="0" max="168" class="validate" />
                    <label class="activity-time" for="hours-busy">Hours Busy</label>
                  </div>
                  <div class="input-field col l1 m1 s1 removeActivity">
                    <i class="material-icons">delete</i>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-action">
              <button id="submit-post" class="waves-effect waves-green btn-flat right">Submit</button>
              <a href="/signed-in" class="btn waves-effect waves-red btn-flat right">Cancel</a>
            </div>
          </div>
        </div>
      </div>
      <div class="fixed-action-btn vertical">
        <a class="btn-floating btn-large blue">
          <i class="large material-icons">add</i>
        </a>
        <ul>
          <li onclick="addCourse()">
            <a class="btn-floating red tooltipped" data-position="left" data-tooltip="Add Course">
              <i class="material-icons">school</i>
            </a>
          </li>
          <li onclick="addActivity()">
            <a class="btn-floating green tooltipped" data-position="left" data-tooltip="Add Activity">
              <i class="material-icons">business_center</i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/materialize.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/add-post.js"></script>
  </body>
</html>
