body {
  margin: 0;
  padding: 0;
  background: #FEFEFE;
}

nav .nav-wrapper {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.no-margin-bottom {
  margin-bottom: 0;
}

.vac-go-welcome {
  padding-left: 10px;
}

.vac-go-body {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
}

blockquote {
  margin: 10px 0;
}

.vac-go-posts {
  margin: 0 auto;
}

.collapsible-header {
  padding: 0 0.5rem;
}

.collapsible-header .row {
  margin-bottom: 0;
}

.collapsible-header .row .col,
.no-padding {
  padding: 0;
}

.col.truncate {
  color: white;
}

@media only screen and (min-width: 993px) {
  .row .col.l-half {
    width: calc(8.3333333333% / 2);
  }
}

span.badge.course,
span.badge.activity,
span.badge.votes {
  position: static;
}

span.badge.course,
span.badge.activity {
  padding: 4px 6px;
}

span.badge.votes {
  min-width: 2rem;
  padding: 0;
}

.upvoted {
  color: orange !important;
}

.downvoted {
  color: purple !important;
}

span.badge[data-badge-caption] {
  text-transform: uppercase;
}

.collapsible-header form {
  display: inline-block;
}

.collapsible-header form label {
  color: white;
  top: 10px;
  left: 10px;
}

.collapsible-header .btn-small {
  height: 100%;
  width: 30px;
  padding: 0;
}

.collapsible-header .btn-small i {
  width: 100%;
  margin-right: 0;
}

.collapsible-body p {
  padding: 1rem;
}

.vac-go-comments {
  width: 90%;
}

.vac-go-comments blockquote {
  margin-left: 50px;
  border-color: #2196F3;
}

#vac-go-reply {
  margin: 0;
}

.vac-go-post-author, .vac-go-comment-author {
  font-weight: bold;
}

#add-post-modal {
  max-height: 85%;
  height: 85%;
}

#add-post-row {
  margin-bottom: 0;
}

#add-post-card-large {
  height: auto;
}

#add-post-card-large .card-content {
  max-height: none;
  overflow: visible;
}

#body.row {
  margin-bottom: 60px;
}

#add-post-card-large .card-action {
  padding: 10px;
}

.removeCourse,
.removeActivity {
  cursor: pointer;
  margin-top: 2rem;
}

.removeCourse:hover,
.removeActivity:hover {
  color: red;
}
